<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">

<%
    for(var i=0; i<teams.length; i++)
    {%>
        <form autocomplete='off' action='adminSearchForTeam' method='post' encType='multipart/form-data'>
          <div class='form-group'>
            <input type='hidden' name='teamName' value=''>
            <input type='hidden' name='playerName' value=''>
            <input type='hidden' name='teamCode' value='<%=teams[i]['team-code']%>'>
            <input type='submit' class='link-button' value='Team Code <%=teams[i]['team-code']%>'/>
          </div>
        </form>
<% } %>
