<div class="card-body">

  <form autocomplete="off" action="adminActivateTeamPrep" method="post" encType="multipart/form-data">

    <div class="form-group">
        <label>Team Code:</label>
        <input type="search" size="12" name="teamCode" value="" autocomplete="off">
    </div>

    <div class="form-group">
          <input type="submit" class="btn btn-info" value="Activate Team Prep"/>
      </div>

  </form>

-----------------------
<br>
<br>

  <form autocomplete="off" action="adminSearchForTeam" method="post" encType="multipart/form-data">

    <div class="form-group">
        <label>Team Name:</label>
        <input type="search" size="12" name="teamName" value="" autocomplete="off">
    </div>

    <div class="form-group">
      <label>Player Name:</label>
      <input type="search" size="12" name="playerName" value="" autocomplete="off">
    </div>

    <div class="form-group">
        <label>Team Code:</label>
        <input type="search" size="12" name="teamCode" value="" autocomplete="off">
    </div>

    <div class="form-group">
          <input type="submit" class="btn btn-info" value="Search For Team"/>
    </div>

  </form>

  -----------------------
  <br>
  <br>

  <form autocomplete="off" action="adminSearchForPlayer" method="post" encType="multipart/form-data">

    <div class="form-group">
        <label>Team Name:</label>
        <input type="search" size="12" name="teamName" value="" autocomplete="off">
    </div>

    <div class="form-group">
      <label>Player Name:</label>
      <input type="search" size="12" name="playerName" value="" autocomplete="off">
    </div>

    <div class="form-group">
        <label>Player Code:</label>
        <input type="search" size="12" name="playerCode" value="" autocomplete="off">
    </div>

    <div class="form-group">
          <input type="submit" class="btn btn-info" value="Search For Player"/>
    </div>

  </form>

  -----------------------
  <br>

</div>
