<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<script src="javascripts/utilities.js"></script>

<form action="goLive" method="post" onsubmit="return confirmChoice(<%= CONFIRM_GO_LIVE %>)">
    <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
    <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
    <input type="submit" class="btn btn-info" value="Go Live"/>
</form>
