<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<script src="javascripts/utilities.js"></script>

<form action="quitGame" onsubmit="return confirmChoice(<%= CONFIRM_QUIT %>)" method="post">
    <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
    <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
    <input type="submit" class="btn btn-info" value="Quit Game"/>
    <div style="height: 15px;"></div>
</form>
