<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">
<form action="/assassin/goLive" method="post">
  <div class="form-group">
      <input type="hidden" name="myTeamCode" value="<%= playerTeamCode %>">
      <input type="hidden" name="myPlayerCode" value="<%= playerCode %>">
      <input type="submit" class="btn btn-info" value="Go Live"/>
  </div>
</form>
