<link rel="stylesheet" type="text/css" href="\stylesheets\custom.css">

<form>
<img src=<%=myPicture%>
 loading="lazy">
</form>

<br>
<br>
<button onclick="window.location='/login'">Return Home</button>
